<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ng-table/ng-table.css">
    <link rel="stylesheet" type="text/css" href="css/<%= stylesheet %>">
  </head>
  <body>
